:root {
    --dark: rgba(30, 28, 28, 0.91);
    --dark80: rgba(30, 28, 28, 0.8);
    --light_blue: #7c96f7;
    --yellow: #ffba08;
    --white: #ffffff;
    --smoke_white: #F0F0F0;
}
@font-face {
    font-family: samim;
    src: url(font/Samim.woff);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--dark);
    direction: rtl;
    font-family: samim;
}

/*stat header*/
header{
    min-height: 232px;
    background-image: url(images/Header\ Background.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

.menu{
    display: flex;
    align-items: center;
    padding: 60px 45px 0px 0px;
}
.menu ul li{
    display: inline;
    color: var(--dark80);
    font-size: 24px;
    font-weight: bold;
    margin-left: 32px;
}

.menu ul li a:hover{
    color: var(--light_blue);
}


a{
    text-decoration: unset;
    color: inherit;
}
/*end header*/


/* start intro */

.intro{
    display: flex;
    flex-direction: row;
    margin-top: 15px;

}

.intro .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* float: right; */
    /* align-self: center; */
    margin: 0px 45px 0px 0px;
}
.intro .left{
    margin: 0px auto 0px 0px;
}
.intro .left img{
    max-height: 250px;
}
.intro .title{
    font-size: 40px;
    color: var(--white);
    margin-bottom: 33px;
}
.intro .subtitle{
    color: var(--smoke_white);
    margin-bottom: 35px;
    font-size: 30px;
}

.intro .secondary_btn{
    color: var(--white);
    border: solid 2px var(--light_blue);
    padding: 9px 43px;
    font-size: 24px;
    border-radius: 5px;
    font-weight: bold;
    
}

.intro .primary_btn{
    color: var(--dark80);
    background-color: var(--yellow);
    font-size: 24px;
    padding: 9px 16px;
    border-radius: 5px;
    margin-right: 16px;
    font-weight: bold;
}