:root {
    --dark: rgba(49, 46, 46, 1);
    --dark80: rgba(30, 28, 28, 0.8);
    --dark70:rgba(30, 28, 28, 0.7);
    --light_blue: #7c96f7;
    --yellow: #ffba08;
    --white: #ffffff;
    --bg_light: rgba(236, 236, 236, 1) ;
    --smoke_white: #F0F0F0;
    --white80:rgba(255, 255, 255, 0.8);
}
@font-face {
    font-family: samim;
    src: url(font/Samim.woff);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "samim";
}

body{
    background-color: var(--dark);
    direction: rtl;
    font-family: samim;
}

.bg_light{
    background-color: var(--bg_light) !important;
}

/*stat header*/
header{
    min-height: 232px;
    background-image: url(images/Header\ Background.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

.menu{
    display: flex;
    align-items: center;
    padding: 60px 45px 0px 0px;
}
.menu ul li{
    display: inline;
    color: var(--dark80);
    font-size: 24px;
    font-weight: bold;
    margin-left: 32px;
}

.menu ul li a:hover{
    color: var(--light_blue);
}


a{
    text-decoration: unset;
    color: inherit;
}
/*end header*/


/* start intro */

.intro{
    display: flex;
    flex-direction: row;
    margin-top: 15px;

}

.intro .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* float: right; */
    /* align-self: center; */
    margin: 0px 45px 0px 0px;
}
.intro .left{
    margin: 0px auto 0px 0px;
}
.intro .left img{
    max-height: 250px;
}
.intro .title{
    font-size: 40px;
    color: var(--white);
    margin-bottom: 33px;
}
.intro .subtitle{
    color: var(--smoke_white);
    margin-bottom: 35px;
    font-size: 30px;
}

.intro .secondary_btn{
    color: var(--white);
    border: solid 2px var(--light_blue);
    padding: 9px 43px;
    font-size: 24px;
    border-radius: 5px;
    font-weight: bold;
    
}

.intro .primary_btn{
    color: var(--dark80);
    background-color: var(--yellow);
    font-size: 24px;
    padding: 9px 16px;
    border-radius: 5px;
    margin-right: 16px;
    font-weight: bold;
}
/* end intro */

/* start about */
.about{
    background-image: url(images/About_Background.png);
    background-repeat: no-repeat;
    min-height: 450px;
    margin-top: 40px;
    padding: 58px 0px 200px 0px;
}
.about .rap{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
}
.about img{
    max-height: 350px;
}

.about .btn_and_text{
    width: 445px;
    margin-right: 70px;
    margin-left: 150px;
}
.about .title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
    color: var(--dark80);
}
.about .description{
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    text-align: justify;
    margin-bottom: 40px;
    color: var(--dark70);
}
.about .btns_about{
    display: flex;
}
.about .btn_resume{
    background-color: rgba(30, 28, 28, 1);
    color: var(--white);
    border-radius: 5px;
    padding: 2px 12px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: fit-content;
}
.about .btn_resume img{
    margin-left: 10px;
}

.about .btn_connection{
    border: solid 1px rgba(30, 28, 28, 1);
    border-radius: 5px;
    padding: 2px 12px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 700;
}

/* end about */

/* start blog home page */
.recent_post{
    background-image: url(images/Wave\ Background.png);
    position: relative;
    bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recent_post .title{
    margin: 297px 0px 60px 0px;
    color: #1E1C1C;
    font-size: 40px;
    font-weight: 400;
}
.posts{
    display: flex;
    flex-direction: row;
    margin: 0px 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.recent_post .card,
.blog .card,
.category .card
{
    max-width: 350px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(59, 59, 60, 0.1);
    border-radius: 8px;
    width: 32%;
}

.overlay{
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.5) 60%, #111111 100%);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 264px;
}
.recent_post .card_header img,
.blog .card_header img,
.category .card_header img
{
    width: 100%;
    height: 264px;
    border-radius: 8px 8px 0px 0px;
}
.recent_post .card .card_header,
.blog .card .card_header,
.category .card .card_header
{
    position: relative;
    width: 100%;
}
.recent_post .card_body,
.blog .card_body,
.category .card_body
{
    border-bottom: 1px solid rgba(181, 165, 165, 0.58);
}
.recent_post .card_body section,
.blog .card_body section,
.category .card_body section
{
    margin: 22px 10px 15px 0px;
}
.recent_post .description,
.blog .card .description,
.category .card .description
{
    margin: 0px 12px 15px 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: right;
    color: var(--dark70);
}
.badge{
    background-color: #E3E3E3;
    color: var(--dark80);
    padding: 2px 10px;
    border-radius: 10px;
    margin-left: 10px
}
.recent_post .title_card,
.blog .title_card,
.category .title_card
{
    position: absolute;
    right: 10px;
    bottom: 20px;
    color: var(--white);
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    text-align: right;
}
.recent_post .card_footer,
.blog .card_footer,
.category .card_footer
{
    padding: 10px 12px 15px 0px;
}
.recent_post .card_footer .veiw,
.blog .card_footer .veiw,
.category .card_footer .veiw
{
    color: var(--dark80);
    font-weight: 400;
    font-size: 15px;
}
.recent_post .card_footer .veiw::before,
.blog .card_footer .veiw::before,
.category .card_footer .veiw::before
{
    content: url(images/Eye.png);
    margin-left: 10px;
}

.recent_post .btn{
    color: var(--white);
    padding: 13px 35px;
    background-color: #1E1C1C;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    margin: 90px 0px 200px 0px;
}
/* end recent_post */

/* start blog page and category*/ 

.blog,
.category
{
    margin-bottom: 182px;
    margin-top: 80px;
}
.category .title{
    color: var(--dark80);
    font-weight: 400;
    font-size: 40px;
    margin-right: 40px;
    margin-bottom: 65px;
}
.custom_btn{
    display: flex;
    justify-content: center;
    margin-bottom: 115px;
}
.custom_btn a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 32px;
    font-size: 24px;
    font-weight: bold;
}
.custom_btn span{
    margin-top: 20px;
}
.order-by-box{
    margin-right: 40px;
    margin-bottom: 90px;
}
label.order{
    font-size: 24px;
    font-weight: 400;
    color: var(--dark80);
    margin-left: 28px;
}
select.order{
    min-width: 238px;
    min-width: 238px;
    min-height: 44px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    padding: 10px;
    color: var(--dark);
}

.blog .card,
.category .card
{
    margin-bottom: 90px;
}

.blog .btn,
.category .btn
{
    font-size: 14px;
    font-weight: 500;
    margin: auto;
}

/* end blog and category */

/* stat tutorials */
.tutorials{
    background-color: rgba(251, 251, 251, 1);
    margin-top: -400px;
    padding: 182px 0px;
}
.tutorials .title{
    font-weight: 700;
    font-size: 40px;
    color: #1E1C1C;
    margin-right: 73px;
    margin-bottom: 48px;
}
.tutorials .container{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0px 40px;
}
.tutorials .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
}

.tutorials .card{
    width: 49%;
    background-color: var(--white);
    box-shadow: 0px 37px 40px rgb(50 45 45 / 32%);
    border-radius: 10px;
    margin-bottom: 40px;
} 
.tutorials .thmubnail{
    width: 100%;
    padding: 8px;
}
.tutorials .thmubnail img{
    width: 100%;
    border-radius: 8px;

}
.tutorials .card_title{
    margin: 8px 8px 8px 0px;
    font-weight: 700;
    font-size: 24px;
    color: #1E1C1C;
}

.tutorials .price_tag{
    color: #6C63FF;
    padding:0px 8px 0px 0px;
    font-weight: 700;
    font-size: 16px;
}

.heroic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.heroic_title{
    color: var(--yellow);
    font-weight: 700;
    font-size: 30px;
    margin: 20px 0px;
}
.heroic a{
    background-color:#1E1C1C ;
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 16px;
    font-weight: 700;
    font-size: 24px;
    border-radius: 5px;
}

/* end tutorials */

/* start podcast */
.podcast{
    padding: 0px 45px;
}
.podcast .rap{
    display: flex;
    align-items: center;
}
.podcast .right{
    max-width: 633px;
}
.podcast .title{
    font-weight: 400;
    font-size: 50px;
    color: #e0e0e0;
    margin-bottom: 34px;
}
.podcast .description{
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #e0e0e0;
    margin-bottom: 20px;
    text-align: justify;
}
.podcast .icon{
    margin-bottom: 30px;
}
.podcast .btn,
.blog .btn,
.category .btn
{
    color:#1E1C1C;
    background-color: var(--yellow);
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    display: flex;
    width: fit-content;
    border-radius: 5px;
}
.podcast .btn img,
.blog .btn img,
.category .btn img
{
    margin: auto 10px auto 0px;
}

.podcast .icon a{
    margin-left: 13px;
}
.podcast .microphone{
    position: absolute;
    left: 60px;
    top: 0px;
}
.podcast_frame{
    margin: 65px 125px;
}
.podcast_frame iframe{
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

/* end podcast */
/* start post page */

.post{
    padding: 26px;
    margin-bottom: 182px;
}

.row{
    display: flex;
}
.post article{
    max-width: 70%;
    margin-left: 28px;
    padding-bottom: 20px;
    background-color: var(--white);
    box-shadow: 0px 4px 30px rgb(204 204 204 / 70%);
    border-radius: 10px;
}
.post_header {
    padding: 56px 46px 41px 0px;
    background: #7c96f7;
    border-radius: 10px 10px 0px 0px;
}
.post_title {
    color: var(--white);
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    margin: revert;
}
.post_content {
    padding: 30px 26px 20px 26px;
    font-size: 18px;
    line-height: 31px;
    text-align: right;
    color: var(--dark);
}
.post_content p{
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.comments{
    background-color: var(--light_blue);
    box-shadow: 0px 4px 30px rgb(204 204 204 / 70%);
    border-radius: 10px;
    margin: 0px 20px;
}

.comment_form {
    justify-content: space-between;
    padding: 34px 20px 0px 34px;
    font-size: 24px;
    line-height: 37px;
    color: var(--white);
    margin-bottom: 16px;
}
.comment_form form {
    width: 70%;
}
.comment_form .row {
    justify-content: space-between;
}
.comment_form input, textarea {
    background: #ffffff;
    border: 2px solid #7c96f7;
    border-radius: 10px;
    outline: unset;
    margin: 0px 10px 0px 22px;
    font-size: 18px;
    font-family: inherit;
    padding: 5px 10px;
    min-width: 80%;
}

.comment_form textarea {
    min-height: 201px;
    max-height: 501px;
    max-width: 80%;
}

.comment_form .row:not(:first-child) {
    margin-top: 22px;
}
.comment_form .row:last-child {
    flex-direction: row-reverse !important;
}

.comment_form .btn,
.more_comment_btn
{
    min-width: 116px;
    font-size: 14px;
    min-height: 38px;
    background-color: var(--yellow);
    font-weight: bold;
    color: var(--dark80);
    border: unset;
    border-radius: 5px;
    cursor: pointer;
}
.comment_illustration{
    max-width: 175px;
}
.comment .row {
    align-items: center;
}
.comments_list ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.comment {
    transition: display 0.5s;
    display: initial;
    max-width: 456px;
    min-width: 256px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 30px rgb(204 204 204 / 70%);
    border-radius: 10px;
    padding: 13px 20px;
    margin: 15px 25px 0px 25px;
    position: relative;
}

.user_avatar {
    height: 44px;
    border-radius: 50%;
}
.comment_title {
    margin-right: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    color: var(--dark80);
    max-width: none;
}

.comment_date {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    background-color: var(--light_blue);
    padding: 3px 5px;
    font-size: 13px;
    line-height: 20px;
    color: var(--white);
}

.comment_text p {
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    margin: revert;
}
.comments_list ul li:nth-child(even) {
    align-self: flex-end;
}

.reply{
    width: 456px;
    min-width: unset;
    margin: 0px;
}
.more_comment_row{
    justify-content: center;
}

.more_comment_btn{
    margin: 41px 0px 19px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more_comment_btn img{
    margin-right: 6px;
}
aside{
    max-width: 30%;
}
.widget {
    box-shadow: 0px 4px 30px rgb(204 204 204 / 70%);
    border-radius: 10px;
    background-color: var(--white);
    margin-bottom: 15px;
}
.widget_title {
    padding: 22px 15px;
    background-color: var(--light_blue);
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    font-size: 24px;
    color: var(--white);
}
.widget_body {
    padding: 15px;
}
.widget_body .badge {
    font-size: 13px;
}
.widget_body p {
    font-size: 18px;
    line-height: 28px;
    text-align: right;
    color: var(--dark80);
    margin: 10px 0px 20px 0px;
}
.widget_body ul{
    list-style: none;
}
.widget_body a img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.recentcomments .row{
    align-items: center;
}

.recentcomments p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* start 404 page */
.page_404{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.page_404 img{
    width: 50%;
}
.page_404 a{
    background-color: #50CC84;
    color: var(--white);
    padding: 9px 16px;
    border-radius: 5px;
    margin-top: 40px;
}
/* end 404 page */



/* start footer */
footer{
    background-image: url(images/footerwave.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin-top: -65px;
    padding: 100px 70px 0px 70px;
}
footer section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about_me,
.contact,
.quick_access{
    width: 31%;
}
.about_me p,
.contact p,
.quick_access a{
    color: var(--white80);
    line-height: 38px;
    font-weight: 400;
    font-size: 24px;
}
.quick_access a{
    display: block;
    margin-bottom: 10px;
}
footer .title{
    color: var(--white);
    font-weight: 500;
    font-size: 24px;
}
.contact .icon img{
    margin-right: 15px;
}
.contact .rap{
    direction: ltr;
    margin-left: 5%;

}
.contact p{
    margin-top: 21px;
}
footer h4{
   border-bottom: #FFBA08 dashed 2px;
    width: 70%;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.copyright{
    text-align: center;
    
    margin-top: 120px;
}
.copyright p{
    margin-bottom: 16px;
    font-size: 18px;
    color: var(--white);
}
/* end footer */